/* styles go here */
html {
  color: black;
}

.form-field {
  display: block;
}

.field {
  margin-bottom: 10px;
}

.form-legend {
  margin-bottom: 20px;
}

button {
  border: 1px solid grey;
  margin: 0 0 20px;
  background-color: #e9e9e9;
}
